<template>
	<v-card flat>
		<v-data-table
				:custom-filter="filterTable"
				:headers="headers"
				:items="items"
				:search="search"

				item-key="_id"
				sort-by="first_name"
		>
			<template #top>
				<v-edit
						:value.sync="openedEditDialog"
						:create-mode="dialogCreateMode"
						:current-item="itemToEdit"
				/>
				<v-delete
						:value.sync="openedDeleteDialog"
						:id="idToDelete"
				/>
			</template>
			<template #item.first_name="{item}">
				{{ getFullName(item) }}
			</template>
			<template #item.is_favourite="{item}">
				<div class="d-flex">
					<v-simple-checkbox
							:value="item.is_favourite"
							:ripple="false"
							class="mr-3"
							off-icon="mdi-bookmark-outline"
							on-icon="mdi-bookmark"
							@input="updateFavouriteState(item, $event)"
					/>
					<v-icon
							class="mr-3"
							@click="editItem(item)"
					>
						mdi-pencil
					</v-icon>
					<v-icon
							@click="deleteItem(item._id)"
					>
						mdi-delete
					</v-icon>
				</div>
			</template>
		</v-data-table>
	</v-card>
</template>

<script>
	import vDelete from './v-delete';
	import VEdit from './v-edit';
	import {getCleanNumber} from '@/helpers';

	export default {
		name: 'contacts',
		components: {
			vDelete,
			VEdit
		},
		data: () => ({
			headers: [
				{
					text: 'Name',
					value: 'first_name'
				},
				{
					text: 'Phone',
					value: 'phone_number',
					filterable: false,
					sort: (a, b) => {
						const numberA = +getCleanNumber(a);
						const numberB = +getCleanNumber(b);
						return numberA - numberB;
					}
				},
				{
					text: 'Actions',
					value: 'is_favourite',
					width: '5',
					filterable: false,
					sortable: false
				}
			],
			openedEditDialog: false,
			dialogCreateMode: false,
			openedDeleteDialog: false,
			itemToEdit: {},
			idToDelete: ''
		}),
		props: {
			search: {
				type: String,
				default: ''
			},
			items: {
				type: Array,
				default: () => []
			}
		},
		methods: {
			getFullName({first_name, last_name}) {
				return [first_name, last_name].join(' ');
			},
			updateFavouriteState({_id}, event) {
				this.$store.dispatch('update', {_id, is_favourite: event});
			},
			createItem() {
				this.openCreateDialog();
			},
			editItem(item) {
				this.itemToEdit = item;
				this.openEditDialog();
			},
			deleteItem(id) {
				this.idToDelete = id;
				this.openDeleteDialog();
			},
			openCreateDialog() {
				this.dialogCreateMode = true;
				this.openedEditDialog = true;
			},
			openEditDialog() {
				this.dialogCreateMode = false;
				this.openedEditDialog = true;
			},
			openDeleteDialog() {
				this.openedDeleteDialog = true;
			},
			filterTable(value, search, item) {
				if (!(value && search)) return true;

				const searchToLower = search.toLowerCase();
				const searchToPhone = getCleanNumber(search);

				return this.getFullName(item).toLowerCase().includes(searchToLower) ||
						item.last_name.toLowerCase().includes(searchToLower) ||
						searchToPhone && getCleanNumber(item.phone_number).includes(searchToPhone);
			}
		}
	};
</script>

<style scoped>

</style>
