<template>
	<v-dialog
			:value="value"
			max-width="500px"
			@input="close"
			@keydown.prevent.enter="deleteItem"
	>
		<v-card>
			<v-card-title>Are you sure you want to delete this contact?</v-card-title>
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn
						color="secondary"
						text
						@click.stop="close"
				>
					Cancel
				</v-btn>
				<v-btn
						color="warning"
						text
						@click.stop="deleteItem"
				>
					Delete!
				</v-btn>
				<v-spacer></v-spacer>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
	export default {
		name: "v-delete",
		props: {
			value: {
				type: Boolean,
				default: false
			},
			id: {
				type: String,
				required: true
			}
		},
		methods: {
			deleteItem() {
				this.$store.dispatch('delete', this.id);
				this.close();
			},
			close() {
				this.$emit('update:value', false);
			}
		}
	};
</script>

<style scoped>

</style>
