<template>
	<v-dialog
			:value="value"
			max-width="500px"
			@input="close"
	>
		<v-card>
			<v-card-title>{{ title }}</v-card-title>

			<v-form
					v-model="validForm"
					ref="form"
					@submit.prevent="submit"
			>
				<v-card-text>
					<v-container>
						<v-row>
							<v-col
									cols="12"
									sm="6"
							>
								<v-text-field
										v-model.trim="item.first_name"
										:rules="rules.firstName"
										counter="20"
										id="firstName"
										label="First name"
								/>
							</v-col>
							<v-col
									cols="12"
									sm="6"
							>
								<v-text-field
										v-model.trim="item.last_name"
										:rules="rules.lastName"
										counter="20"
										id="lastName"
										label="Last name"
								/>
							</v-col>
							<v-col
									cols="12"
									sm="6"
							>
								<v-text-field
										v-model.trim="item.phone_number"
										:rules="rules.phoneNumber"
										counter="30"
										id="phone"
										label="Phone"
								></v-text-field>
							</v-col>
						</v-row>
					</v-container>
				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn
							color="normal"
							text
							@click="close"
					>
						Cancel
					</v-btn>
					<v-btn
							:color="submitButtonColor"
							:disabled="!validForm"
							text
							type="submit"
					>
						{{ submitButtonText }}
					</v-btn>
				</v-card-actions>
			</v-form>
		</v-card>
	</v-dialog>
</template>

<script>
	import {validatePhoneNumber} from '@/helpers';

	export default {
		name: "v-edit",
		data: () => ({
			item: {
				first_name: '',
				last_name: '',
				phone_number: ''
			},
			validForm: false,
			rules: null
		}),
		props: {
			value: {
				type: Boolean,
				default: false
			},
			currentItem: {
				type: Object,
				default: () => ({})
			},
			createMode: {
				type: Boolean,
				default: false
			}
		},
		computed: {
			title() {
				return `${this.createMode ? 'Create' : 'Edit'} contact`;
			},
			submitButtonColor() {
				return this.createMode ? 'success' : 'primary';
			},
			submitButtonText() {
				return this.createMode ? 'Add' : 'Edit';
			}
		},
		watch: {
			value(value) {
				value && this.setItem();
			}
		},
		methods: {
			close() {
				this.$emit('update:value', false);
			},
			submit() {
				if (!this.validForm) return;

				if (this.createMode) {
					this.createItem();
				} else {
					this.updateItem();
				}
			},
			setItem() {
				this.item = this.createMode ? this.getDefaultItem() : this.getCurrentItem();
				this.$refs.form?.resetValidation();
			},
			getDefaultItem() {
				return Object.assign({}, this.$options.data().item);
			},
			getCurrentItem() {
				return Object.assign({}, this.currentItem);
			},
			createItem() {
				this.$store.dispatch('create', this.item);
				this.close();
			},
			updateItem() {
				this.$store.dispatch('update', this.item);
				this.close();
			},
			isPhoneUnique(phone) {
				return this.$store.getters.isPhoneUnique(phone, this.item._id);
			},
			initRules() {
				this.rules = {
					firstName: [
						value => !!value || 'First name is required!',
						value => value?.length <= 20 || 'First name is too long!'
					],
					lastName: [
						value => value?.length <= 20 || 'Last name is too long!'
					],
					phoneNumber: [
						value => !!value || 'Phone number is required!',
						value => value?.length <= 30 || 'Phone number is too long!',
						value => validatePhoneNumber(value) || 'Phone number must be valid!',
						value => (value && this.isPhoneUnique(value)) || 'Phone number must be unique!'
					]
				};
			}
		},
		created() {
			this.initRules();
		}
	};
</script>

<style scoped>

</style>
