<template>
	<v-app>
		<v-app-bar
				app
				color="secondary"
				dark
		>
			<v-sheet
					:max-width="maxWidth"
					width="100%"
					class="mx-auto"
					color="transparent"
			>
				<v-container>
					<v-row justify="center">
						<v-col
								cols="8"
								sm="5"
								md="4"
						>
							<v-text-field
									v-model.trim="searchQuery"
									clearable
									dense
									hide-details
									label="Search"
									outlined
									prepend-inner-icon="mdi-magnify"
									single-line
							/>
						</v-col>
					</v-row>
				</v-container>
			</v-sheet>

			<template #extension>
				<v-sheet
						:max-width="maxWidth"
						width="100%"
						class="mx-auto"
						color="transparent"
				>
					<v-container class="py-0">
						<v-row dense>
							<v-col class="d-flex justify-space-between align-center pa-0 overflow-hidden">
								<v-tabs
										v-model="tab"
										background-color="transparent"
								>
									<v-tab>Contacts</v-tab>
									<v-tab>Favourites</v-tab>
								</v-tabs>
								<v-btn
										color="primary"
										depressed
										@click="createContact"
								>
									NEW CONTACT
								</v-btn>
							</v-col>
						</v-row>
					</v-container>
				</v-sheet>
			</template>
		</v-app-bar>

		<v-main>
			<v-sheet
					:max-width="maxWidth"
					width="100%"
					class="mx-auto"
					color="transparent"
			>
				<v-container>
					<v-row>
						<v-col>
							<v-contacts
									:items="items"
									:search="searchQuery"
									ref="contacts"
							/>
						</v-col>
					</v-row>
				</v-container>
			</v-sheet>
		</v-main>
	</v-app>
</template>

<script>
	import vContacts from './components/v-contacts';

	export default {
		name: 'App',
		components: {
			vContacts
		},
		data: () => ({
			maxWidth: 1185,
			searchQuery: '',
			tab: 0
		}),
		computed: {
			items() {
				return this.tab ? this.$store.getters.favourites : this.$store.state.contacts;
			}
		},
		methods: {
			createContact() {
				this.$refs.contacts.openCreateDialog();
			}
		},
		mounted() {
			this.$store.dispatch('getAll');
		}
	};
</script>
